*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.logo h1{
  position: relative;
  top: 80px;
  text-decoration: none;
  color: #03071e;
  font-weight: 800;
 font-size: 30px;
    
}


nav{
    height: 15vh;
    background-color: #fff;
}


.nav-links{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-left: auto;
    height: 100%;
    width: 50%;
    align-items: center;
}


.nav-links li a{
    text-decoration: none;
    color: #03071e;
    font-weight: 400;
    font-size: 20px;
}
.landing{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing h1{
    color: #03071e;
    font-size: 30px;
}
@media screen and (max-width: 900px) {
    .line{
        width: 30px;
        height: 3px;
        background-color: #03071e;
        margin: 5px;
    }
    nav{
        position: relative;   
    }
    .hamgurger{ 
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 1;
        cursor: pointer;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-in-out;
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;

    }
    li.fade{
        opacity: 1;
    }
   .logo h1{
       position: absolute;
       top: 30%;
   }

}
